<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <!--this is CSS enabled for using bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Alchemy</title>
</head>
<body>

<h1>Please write your Username and Email</h1>
<h2></h2>
<form  class="form-inline" method="POST">
    <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control"  placeholder="UserName" name="UserNameClick">

    <input type="text" class="form-control"  placeholder="Email" name="EmailClick">
    </div>

  <button type="submit" class="btn btn-primary mb-2">Insert</button>
</form>





<!--this is Javascript enabled for using bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>